@import url("https://fonts.googleapis.com/css?family=Roboto:400,500i,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  font: 400 14px "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font: 400 18px "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
form {
  input,
  textarea {
    width: 100%;
    height: 60px;
    color: #3333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
  }
  textarea  {
    resize: vertical;
    min-height: 140px;
    padding: 16px 24px;
    line-height: 24px;
  }
}
.button {
  width: 100%;
  height: 60px;
  background: #e02041;
  color: #fff;
  border: 0;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: all 0.3s ease;
  &:hover {
    filter: brightness(90%);
  }
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
  svg {
    margin-right: 8px;
  }
  &:hover {
    opacity: 0.8;
  }
}
